<ion-view view-title="Pending Bills">
  <ion-content>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div><div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider bigfont">Token:0000123121<span class="pad_front smallfont">Rs 20,000</span><span class="item-note">10-08-2017</span></div>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>DDO : </b><span>27022304001</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>HOA : </b><span>8448-00-101-22-31-122-000-NVN</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Status : </b><span>Under scrutiny with Auditor</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Updated On : </b><span>15-08-2017</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>