<ion-view view-title="Budget">
  <ion-content>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted : </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div><div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/budgetdist" class="item item-divider bigfont">27022304001<span class="pad_front smallfont">Prohibition and Excise</span></a>
      <div class="item item-body">
      	<div class="item-text-wrap" style="border-top:0px;">
          <b>Alloted </b><span>Rs 1,00,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorized : </b><span>Rs 25,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Expenditure : </b><span>Rs 20,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Remaining : </b><span>Rs 5,00,000</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>