<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Pending Bills" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/secy/bills">
    <ion-nav-view name="secy-bills"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Paid Bills" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/secy/paid">
    <ion-nav-view name="secy-paid"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Budget" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/secy/budget">
    <ion-nav-view name="secy-budget"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Logout" icon-off="ion-log-out" icon-on="ion-log-out" href="#/login">
  </ion-tab>
</ion-tabs>