<ion-view view-title="Pending Bills">
  <ion-content>
    <div class="list card">
      <a href="#/secy/billsindi" class="item item-divider bigfont">Anathapur<span class="pad_front smallfont">Total Bills : 20</span><span class="item-note">Rs 20,00,000</span></a>
      <div class="item item-body">
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Under Scrutiny : </b><span>10</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorization Pending : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Sent to Bank : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/billsindi" class="item item-divider bigfont">Krishna<span class="pad_front smallfont">Total Bills : 20</span><span class="item-note">Rs 20,00,000</span></a>
      <div class="item item-body">
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Under Scrutiny : </b><span>10</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorization Pending : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Sent to Bank : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/billsindi" class="item item-divider bigfont">Guntur<span class="pad_front smallfont">Total Bills : 20</span><span class="item-note">Rs 20,00,000</span></a>
      <div class="item item-body">
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Under Scrutiny : </b><span>10</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorization Pending : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Sent to Bank : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <a href="#/secy/billsindi" class="item item-divider bigfont">Kurnool<span class="pad_front smallfont">Total Bills : 20</span><span class="item-note">Rs 20,00,000</span></a>
      <div class="item item-body">
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Under Scrutiny : </b><span>10</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Authorization Pending : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
        <div class="item-text-wrap" style="border-top:0px;">
          <b>Sent to Bank : </b><span>5</span><span class="item-note">10,00,000</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>